body {
    /* padding-top: 20px; */
    font-family: Georgia, 'Times New Roman', Times, serif
}
.calculator {
    
    width: 280px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.calculator input[type="text"] {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
}
.calculator button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;
}
.calculator button:hover {
    background-color: #8b8888;
}
h1{
    
    font-weight: 900;
    position: relative;
    justify-items: center;
    align-items: center;

}

h1::after{
    content:"";
    position: absolute;
    left:0;
    bottom: 0;
    height: 3px;
    width: 0%;
    /* background-color: black; */
    transition:all ease 2.5s;
}

h1:hover::after{
    /* height: 10vh; */
    content:"Calculator";
    width: 100%;

}
